# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [7]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

In [9]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [10]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [12]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [14]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [16]:
cars = cars1.append(cars2)
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [25]:
owners = np.random.randint(low=15000, high=73000, size=len(cars))
owners

array([39087, 42183, 43300, 45475, 40578, 63480, 23195, 29717, 35860,
       17568, 67808, 19356, 58213, 40455, 28660, 70499, 71201, 35783,
       57065, 54419, 59481, 16006, 19669, 38895, 59089, 32700, 72632,
       58526, 57366, 27572, 44228, 32227, 40756, 31018, 44966, 23426,
       33076, 53404, 66555, 34111, 25283, 61265, 72939, 32639, 47192,
       33466, 19083, 21461, 52925, 43233, 46468, 60996, 28235, 67308,
       20624, 41306, 64148, 34515, 68994, 61181, 22194, 51423, 68257,
       16232, 32365, 45419, 70938, 44433, 25919, 64234, 24066, 27578,
       15156, 53282, 40998, 43628, 43971, 41381, 23499, 65957, 24621,
       65157, 39489, 31502, 33207, 33502, 38405, 63140, 19453, 25514,
       48907, 51718, 28184, 17066, 30041, 17636, 40272, 53448, 52788,
       28875, 53317, 52314, 52703, 72118, 37920, 70386, 35574, 61938,
       29720, 46434, 38532, 45025, 71637, 48445, 42694, 50961, 35018,
       68420, 16156, 41744, 44348, 43774, 70796, 27137, 47721, 56575,
       24431, 53725, 52366, 53625, 58962, 58102, 58651, 15201, 21096,
       34815, 25462, 49295, 56141, 48973, 63595, 22915, 67575, 31491,
       71913, 27190, 41590, 25986, 59205, 25713, 71234, 30353, 50342,
       37371, 43584, 41193, 60657, 60298, 46012, 49112, 45240, 19678,
       21964, 72268, 58850, 17439, 21527, 38230, 18797, 55010, 24237,
       48527, 20601, 25617, 32729, 18371, 63759, 32891, 52322, 52900,
       44048, 15509, 52911, 54563, 39482, 23328, 45659, 42996, 70859,
       21889, 27163, 20538, 51241, 15033, 51126, 39170, 30336, 33334,
       45475, 47875, 57124, 65308, 18341, 31873, 62830, 40840, 17856,
       18595, 43654, 49605, 44645, 30647, 51216, 39938, 35526, 49851,
       66567, 71422, 17345, 50288, 68922, 71911, 15766, 44000, 30669,
       21982, 43782, 29070, 67735, 37302, 42100, 58640, 59839, 57993,
       60141, 26897, 52276, 37208, 26200, 41206, 49351, 33097, 47115,
       48388, 32352, 69872, 26740, 48253, 23102, 19650, 33833, 26425,
       51090, 21392, 28318, 63869, 53924, 24326, 66979, 70783, 34692,
       57186, 40852, 18104, 16988, 68488, 30962, 31895, 20265, 51956,
       70200, 61136, 31866, 66975, 30888, 31223, 48741, 66055, 60626,
       39632, 24242, 66438, 15413, 38453, 46335, 27774, 37603, 22114,
       18619, 59437, 31062, 21772, 54220, 48357, 68916, 52475, 27859,
       57497, 26163, 68303, 29574, 19596, 72694, 57633, 70359, 62591,
       56186, 27141, 58637, 28935, 53038, 34014, 47352, 50367, 53391,
       56891, 25324, 30286, 40021, 56557, 56697, 35332, 71800, 63798,
       31226, 54915, 49877, 35504, 70533, 45776, 58115, 44695, 24014,
       27290, 26095, 15427, 36820, 41459, 72221, 30352, 25221, 71866,
       31908, 25922, 57717, 54150, 36569, 40006, 51941, 56106, 29978,
       49446, 37171, 47334, 72107, 62259, 67766, 36202, 30577, 69331,
       45819, 18257, 28068, 63844, 51891, 59338, 21261, 51703, 30016,
       62342, 43138, 62688, 58664, 61397, 47372, 60822, 55450, 24484,
       69193, 53588, 60833, 15773, 28402, 42133, 65369, 51853, 54667,
       44560, 26109, 45992, 72949, 72735, 55443, 55856, 47709, 26438,
       29816, 57791])

### Step 8. Add the column owners to cars

In [26]:
cars["owners"] = owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,55856
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,47709
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,26438
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,29816
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,57791