# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 4. How many products cost more than $10.00?

In [13]:
# clean the item_price column and transform it in a float
#prices = [float(value[1 : -1]) for value in chipo.item_price]
#chipo.item_price = prices

chipo_filtered = chipo.drop_duplicates(["item_name", "quantity", "choice_description"])

chipo_filtered = chipo_filtered[chipo_filtered.quantity == 1]


chipo.query('item_price > 10').item_name.nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [41]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(["item_name", "quantity"])

# select only the products with quantity equals to 1
chipo_one_product = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
chipo_prices = chipo_filtered[["item_name", "item_price"]]

# sort the values from the most to less expensive
chipo_prices.sort_values(by="item_price", ascending=False).head(20)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
409                   Chicken Bowl       32.94
1255                 Steak Burrito       27.75
3634               Chicken Burrito       26.25
3334                    Steak Bowl       26.07
281               Steak Salad Bowl       23.78
506                  Carnitas Bowl       23.50
135             Chicken Salad Bowl       22.50
445                           Bowl       22.20
2581              Carnitas Burrito       18.50
1903         Barbacoa Crispy Tacos       18.50
4354              Steak Soft Tacos       18.50
2874            Steak Crispy Tacos       17.98
910                     Steak Bowl       17.98
3890         Carnitas Crispy Tacos       17.98
148                  Steak Burrito       17.98
4489           Chips and Guacamole       17.80

### Step 6. Sort by the name of the item

In [44]:
chipo_prices.sort_values(by="item_name")

                  item_name  item_price
298       6 Pack Soft Drink        6.49
3389      6 Pack Soft Drink       12.98
39            Barbacoa Bowl       11.75
21         Barbacoa Burrito        8.99
1903  Barbacoa Crispy Tacos       18.50
...                     ...         ...
1653    Veggie Crispy Tacos        8.49
1694           Veggie Salad        8.49
186       Veggie Salad Bowl       11.25
3889      Veggie Soft Tacos       16.98
738       Veggie Soft Tacos       11.25

[103 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [45]:
chipo.head()
chipo.sort_values(by="item_price", ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
salad = chipo[chipo.item_name=="Veggie Salad Bowl"]
len(salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [52]:
soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
soda.shape[0]

20